
<ion-view title="venta">

  <!-- <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-outline button-light" ng-click="goBack()"><i class="ion-arrow-left-c"></i> Back</button>
    
    <h1 class="title">Clientes</h1>
    <div class="buttons">

      <button class="button button-clear" ng-click="logout()">Salir</button>
    </div>
  </ion-header-bar> -->
   
  <ion-content >
   
      <!-- <ion-list>

            <div class="item col-header item-icon-right">
                <div class="flex-container wrap">
                    <div >
                        <div class="column" >titulo</div>
                        
                    </div>
                    <div >
                        <div class="column" >titulo</div>
                        
                    </div>
                     <div >
                        <div class="column" >titulo</div>
                        
                    </div>
                </div>
            </div>

            <div class="item low-pad-item " >
                <div class="flex-container wrap">
                    <div >
                        <div class="column">contenido</div>
                    </div>
                    <div >
                        <div class="column">contenido</div>
                    </div>
                </div>
                
            </div>  
            <div class="item low-pad-item " >
                <div class="flex-container wrap">
                    <div >
                        <div class="column">contenido</div>
                    </div>
                    
                </div>
                
            </div>       
      </ion-list> -->
       <ion-list>

            <div class="item col-header">
                <div class="flex-container wrap">
                    <div class="cabezeras">
                        <div class="column">Entel</div>
                        
                    </div>
                    <div class="cabezeras">
                        <div class="column">Viva</div>
                        
                    </div>
                    <div class="cabezeras">
                        <div class="column">Tigo</div>
                        
                    </div>
                </div>
            </div>

            <div class="item low-pad-item" >
                <div class="flex-container wrap">
                    <div>
                        <div class="column">
                        <button class="button  button-positive">entel-10</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">viva-10</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">tigo-10</button>
                        </div>
                    </div>
                </div>
                <div class="flex-container wrap">
                    <div>
                        <div class="column">
                        <button class="button  button-positive">entel-30</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">viva-30</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">tigo-15</button>
                        </div>
                    </div>
                </div>
                <div class="flex-container wrap">
                    <div>
                        <div class="column">
                        <button class="button  button-positive">entel-50</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">viva-50</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">tigo-20</button>
                        </div>
                    </div>
                </div>
                <div class="flex-container wrap">
                    <div>
                        <div class="column">
                        <button class="button  button-positive">entel-100</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">viva-100</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">tigo-30</button>
                        </div>
                    </div>
                </div>
                <div class="flex-container wrap">
                    <div>
                        <div class="column">
                        <button class="button  button-positive">R-entel</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">R-viva</button>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                          <button class="button  button-positive">tigo-50</button>
                        </div>
                    </div>
                </div>
                
            </div>        
      </ion-list>

        
  </ion-content>
</ion-view>



<ion-footer-bar class="bar bar-positive">
  

  <div class="button-bar">
    <button class="button icon-left ion-ios-cart button-positive" ng-click="venta()">Ingresar ventas</button>
    
  </div>
</ion-footer-bar>

